.card {
    min-width: 200;    
    width: 30%;
    padding: 5px;
}

.cardContainer {
    flex-wrap: wrap;
}

.add-button-container {
    justify-content: flex-end;
    padding: 5px;
    flex: 3;
    flex-direction: row;
}

.visible-border {
    border-color: magenta;
    border-width: 1px;
    border-style: solid;
}

