.card {
    margin-bottom: 15px;
}

.cardContainer {
    width:100%;
}

.cardContainer2 {
    left: 0;
}

.parent {
    width:100%;
}





.add-button-container {
    width: 100%;
    position: relative;
}

.tips-button {
    align-self: flex-end;
}

.add-company-button-container {
    width: 50%;
    position: relative;
}

.tips-button-container {
    width: 50%;
    position: relative;
}

.visible-border {
    border-color: magenta;
    border-width: 1px;
    border-style: solid;
}

