.signInButton {
    background-color: #ed7734 !important;
    border: 3px solid #b44e30;
    min-width: 200px;
    max-width: 200px;
}

.removeCategory {
    border: 3px solid #b44e30;
}

.deleteButton {
    border: 3px solid #b44e30;
    min-width: 250px;
    max-width: 250px;
}

.assetButton {
    background-color: #ed7734 !important;
    border: 3px solid #b44e30;
}

.asset-label {
    display: flex;
    justify-content: left;
    font-size: 30px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.divArea {
    /* background-color: blue; */
    height:calc(100vh - 56px);
    width:1000px;
    margin: auto;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 215px;
    max-width: 215px;
}

.space {
    height: 2em;
}

.verticalCenter {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}