.signInButton {
    background-color: #ed7734 !important;
    border: 3px solid #b44e30;
    min-width: 200px;
    max-width: 200px;
}

.deleteButton {
    border: 3px solid #b44e30;
    min-width: 250px;
    max-width: 250px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 215px;
    max-width: 215px;
}

.space {
    height: 2em;
}

.verticalCenter {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}