#header {
	border-bottom: 1px solid lightgray;
}

#navbar {
	width: 1200px;
	margin: auto;
	padding: 0;
}

#icon-tab {
	height: 20px;
}

#icon {
	width: 50px;
}

.nav-container > span {
	display: flex;
}

.nav-container span a {
	align-self: center;
}